@import "tailwindcss";

@theme {
    --font-geist-mono: "Geist Mono", monospace;
}

/* Base styles */
html,
body {
    background-color: #121212 !important;
    color: white;
    margin: 0;
    padding: 0;
}

/* Custom Utilities */
@layer utilities {
    .bg-custom-dark-gradient {
        background: linear-gradient(344deg, #031432 -3.99%, #010d23 89.64%);
    }
}