/* 
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@import "tailwindcss";

body {
  background-color: black;
  font-family: 'Geist Mono', monospace;
}

@layer utilities {
  .bg-custom-dark-gradient {
    background: linear-gradient(344deg, #031432 -3.99%, #010d23 89.64%);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 1.6s infinite;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(82, 82, 82, 0.15) 50%,
      rgba(255, 255, 255, 0) 100%);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.imageCOl img {
  position: relative !important;
}

 @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.css";

@import "./fonts.css";

@theme {
  --breakpoint-xs: 580px;
  --breakpoint-xxs: 535px;
}



@theme {
  --breakpoint-xs: 580px;
  --breakpoint-xxs: 535px;
}

@layer utilities {
  .bg-custom-dark-gradient {
    background: linear-gradient(344deg, #031432 -3.99%, #010d23 89.64%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: black;
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease forwards;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.skeleton {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 1.6s infinite;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(82, 82, 82, 0.15) 50%,
      rgba(255, 255, 255, 0) 100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}


.imageCOl img {
  position: relative !important;
} */
